@inject ProjectService ProjectService

<DxPopup
    @bind-Visible="@Visible"
    ShowFooter="true"
    HeaderText="Dodaj nową kategorię"
    CloseButtonClick="OnCloseButtonClick">
    <BodyContentTemplate Context="PopupContext">
    <BodyTemplate>
        <div style="padding-top: 1rem; padding-bottom: 1rem">
            <DxFormLayout>
                    <DxFormLayoutItem Caption="Nazwa kategorii:" ColSpanMd="12">
                        <Template>
                            <DxTextBox @bind-Text="@CategoryName" />
                        </Template>
                    </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </BodyTemplate>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="OK" Click="OnOkButtonClick" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => Visible = false)" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public bool Visible { get; set; } = false;

    [Parameter]
    public Category Category { get; set; } = new Category();

    private Category _category;
    private string _categoryName;

    [Parameter]
    public Action<bool> SetCategoryVisiblity { get; set; }

    private string CategoryName
    {
        get => _categoryName;
        set
        {
            _categoryName = value;
            _category.Name = value;
        }
    }

    protected override void OnInitialized()
    {
        _category = Category ?? new Category();
        _categoryName = _category.Name ?? string.Empty;
    }
    
    private async Task OnOkButtonClick()
    {

        await ProjectService.AddCategoryAsync(_category);
        SetCategoryVisiblity?.Invoke(false);
    }

    void OnCloseButtonClick()
    {
        SetCategoryVisiblity?.Invoke(false);
    }
}
